<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.school.iqdigit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-feature
        android:name="android.permission.CALL_PHONE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="nosensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".Activity.pocket_money_webview"></activity>
        <activity android:name=".Activity.PayFeeAlt"></activity>
        <activity android:name=".Activity.LibraryWebView"></activity>
        <activity android:name=".Activity.LibraryWebViewStaff"></activity>
        <activity android:name=".Activity.TransportWebView"></activity>
        <activity android:name=".Activity.LiveClassStaff1Activity" />
        <activity android:name=".Activity.LiveClassStudent1Activity" />
        <activity
            android:name=".Activity.IcardActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".Activity.GalleryViewActivity" />
        <activity android:name=".Activity.GalleryActivity" />
        <activity android:name=".Activity.ExamMarksStaffActivity" />
        <activity android:name=".Activity.AddVideoActivity" />
        <activity
            android:name=".Activity.AddPdfActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AddBookletActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AddTutorialActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyStaff1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyMaterialStaffTutActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ViewAnswerKey"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.SetMcqAnsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.LoginStudentsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.BirthdayActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Assessment1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyMaterialStaff1Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AssesmentStaffListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ErpStaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.imageActivity1"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AssesmentStudentActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ErpActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.HelpWebActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.TimeTableStaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.LiveClassstaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AttendanceStaff1"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AttendanceStaff"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.TutorialWebActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.BookletViewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.TutorialViewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ReportCardActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.FeeStructureViewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyMaterialTutorialActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyMaterialActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.LiveClasssActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.StudyMaterialStaffActivity"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".Activity.RegistrationErpActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.CompayWebsiteActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.LeaveActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.JobApplyActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AchievementActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.FeeStructureActivity1"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.EnquiryActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.GuestMainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ExaminationStaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.MaintenanceActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.PdfWebViewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.CircularsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.TimeTableActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.calender"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AssessmentstaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AddAssessmentActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.MorestaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.MoreActivity"
            android:screenOrientation="nosensor" />

        <service android:name=".FCM.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.www" />
        <activity android:name=".Activity.AlertsActivity" />
        <activity android:name=".Activity.Activitydetails" />
        <activity android:name=".Activity.Activities" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_resource" />
        </provider>

        <activity
            android:name=".Activity.Examination"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.feereceipt"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AssignmentStaff"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ProfileActivityStaff"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.feepayment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.imageActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Assignment"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Attendance"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.loginByUser"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Add_Activities"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Add_Alerts"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.loginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.Splash"
            android:screenOrientation="nosensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.IcardStaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.QuestionBankStaff"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ImageTeacherActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.PdfWebViewActivity1"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AssignmentStaffView"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.AlertsStaffActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Activity.ActivitiesStaff"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:exported="false" android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <receiver android:exported="false" android:name="com.instacart.library.truetime.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


        <receiver android:exported="false" android:name="com.onesignal.UpgradeReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


        <receiver android:exported="false" android:name="com.onesignal.BootUpReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>